# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron




*~
__pycache__
*.aux
*.cpg
*.bbl
*.blg
*.dbf
*.dbf.xml
*.doc
*.docx
*.gif
*.htm
*.html
*.jpeg
*.jpg
*.lof
*.knit.md
*.log
*.lot
*.out
*.pdf
*.png
*.prj
*.pyc
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx
*.svg
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.utf8.md
*.zip
conda-bld/
Rplots.tex
js
tmp-pdfcrop-*.tex
logs/
zemljevidi/
.bash*
.cargo/
.conda/
.DS_Store
.local/
.profile
.rstudio/
.subversion/

